# Eclipse project files
.settings
.classpath
.project
.metadata
*.launch

# Always ignore these directories/files
target
*.log
WEB-INF/classes
WEB-INF/deploy


#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

org.twbbs.peak.canvastest.canvasm/
org.twbbs.peak.canvastest.canvasmJUnit/

*.class

# Package Files #
*.jar
*.war