# Eclipse project files
.settings
.classpath
.project
.metadata
*.launch
*.ucls

# Always ignore these directories/files
target
*.log
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/deploy/
war/


#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/
www-test/

org.twbbs.peak.canvastest.canvasm/
org.twbbs.peak.canvastest.canvasmJUnit/


*.class

# Package Files #
*.jar
*.war