# Eclipse project files
.settings
.classpath
.project
.metadata
*.launch

# Always ignore these directories/files
target
*.log
WEB-INF/classes

#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

org.twbbs.peak.canvastest.canvasm/

*.class

# Package Files #
*.jar
*.war